.text-white{
    color:white;
}
.background-orange{
    background:orange;
}
.text-pink{
    color:rgb(218, 57, 218);
}
.text-menu-end{
    text-align: end;
    padding: 10px;
}
footer {
  width:100%;
  background:white;
  text-align:center;
  font-size:20px;
  height:80px;
  display: block;
}
